.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.AdminDash {
  padding: 100px 120px;
}

.modal {
  background: rgb(55, 55, 55);
  padding: 20px;
  border-radius: 8px;
  width: 50%;
  max-width: 500px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  position: relative;
}

.close-modal-button {
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 15px;
  top: 10px;
  right: 10px;
  background: rgb(175, 39, 39);
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

.add-user-button {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px 20px;
  background: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  width: 200px;
}

.table-container {
  overflow-x: auto;
}

table {
  width: 100%;
  border-collapse: collapse; /* Removes gaps between table cells */
  table-layout: fixed; /* Enables setting column widths */
}

th, td {
  padding: 10px;
  text-align: left;
  border: 1px solid #ddd;
  overflow: hidden; /* Ensures content doesn't overflow the cell */
  text-overflow: ellipsis; /* Adds ellipsis for overflowing text */
  white-space: nowrap; /* Prevents text wrapping */
}

th:first-child, td:first-child {
  width: 5%; /* Narrowest column for the # column */
}

th:nth-child(2), td:nth-child(2), /* Name column */
th:nth-child(3), td:nth-child(3) /* Email column */ {
  width: 30%; /* Allocates more space to Name and Email columns */
}

th:nth-child(4), td:nth-child(4),
th:nth-child(5), td:nth-child(5),
th:nth-child(6), td:nth-child(6) {
  width: auto; /* Remaining columns take the remaining space equally */
}

thead {
  background-color: #333; /* Optional: Adds background color to headers */
  color: #fff; /* Optional: White text for headers */
}

th {
  background-color: #898989;
  cursor: pointer; /* Change cursor to indicate clickable columns for sorting */
}

th.resizable {
  position: relative;
  
}

th.resizable::after {
  content: '';
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 5px;
  cursor: col-resize;
  background-color: transparent;
}



th.sortable::after {
  content: ' ^'; /* Up arrow for ascending sort */
  position: absolute;
  cursor: pointer;
  right: 20px;
}

th.sortable.desc::after {
  content: ' \u25BC'; /* Down arrow for descending sort */
}